main{

    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}


.topo{

    
    background: url(/RocketSeat/Curso-Html/img/logo.png) no-repeat;
    padding-box:10px,0px,0px,0px,35px;
      margin-left: 25px;
   font-family:monospace;
   color: aliceblue;
  
   padding: 22px;
   size: 100%;
  


}


   a{

    
    margin-left: 450px;
    text-spacing-trim: 10px;
    
    font-size: 20px;
    color: aliceblue;
    font-style:inherit;
   text-align: center;
   text-decoration: none;
 
}



div{

    border: solid;
    width: auto;
    height: 40px;
  
}



    .margin {

        margin-left: 20px;
        padding: 15px;
        width: 250px;
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: 800px;

    }

    .transform{

        color: blue;
        text-transform:uppercase;
        text-decoration:line-through;
    }
    


    